$bluegrey: #2b3a42;
@mixin adjusted-left-margin {
    margin-left: 22px;
}

pre {
padding: 8px 16px;
background: $bluegrey;
color: #e1e6e9;
font-family: Menlo, Courier, monospace;
font-size: 13px;
line-height: 1.5;
text-shadow: 0 1px 0 rgba(23, 31, 35, 0.5);
border-radius: 3px;
}

.divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.personal_picture {
    width: 100px;
}

.aligned-with-menu {
    margin-top: 9px;
    padding-right: 10px;
}

.dropdown-toggle {
    color: darkgrey;
}

.form-row input[type=checkbox] {
    visibility: hidden
}

.messages {
    padding-left: 0 !important;
}

.add-form-row, .notes-row  {
    @include adjusted-left-margin;
}
