{% extends "../index.html" %}
{% load crispy_forms_tags %}


{% block content %}
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <p style="list-style: none" class="alert alert-info">Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <h2>Please login here</h2>
    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
    <tr>
        {{ form.username|as_crispy_field }}
    </tr>
    <tr>
        {{ form.password|as_crispy_field }}
    </tr>
    </table>
    <input class="btn btn-primary" type="submit" value="login">
    <input type="hidden" name="next" value="{{ next }}">
    </form>
    <div>
        <p>You are not registered?</p>
        <a class="btn btn-info" href="{% url 'register' %}">SIGN UP</a>
    </div>
{% endblock %}