<h2 style="font-family: helvetica;">Welcome to Simple Invoice App</h2>
<p style="font-family: helvetica;">Hi {{name}}. You've created an account with us. Use the following link to verify your account:</p>
<p style="font-family: helvetica;"><b>Verification Link:</b></p>
{% if base_dir|first in 'C:' %}
<a style="font-family: helvetica;" href="http://localhost:8000{{ link }}">http://localhost:8000{{ link }}</a>
{% else %}
<a style="font-family: helvetica;" href="https://invoice.coderune.com{{ link }}">http://invoice.coderune.com{{ link }}</a>
{% endif %}
